.image-container {
    width: 50%; /* Уменьшена ширина контейнера */
    max-width: 80px; /* Уменьшена максимальная ширина контейнера */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px; /* Снизили радиус скругления */
    position: absolute;
    top: 35%; /* Повыше на экране */
    transform: translateY(-50%); /* Центрирование контейнера */
    display: none;
}

.image-container img {
    width: 100%; /* Заполняет ширину контейнера */
    height: auto; /* Высота автоматически пропорциональна ширине */
    object-fit: cover; /* Сохраняет пропорции изображения */
    border-radius: 10px; /* Снизили радиус скругления */
    transition: opacity 0.5s ease, transform 0.5s ease;
}
